#semi-constantwhats
cat<<SETTINGS
setenv autoload no
setenv bootdelay $BOOT_DELAY
setenv bootargs $DEFAULT_BOOT_ARGS
SETTINGS

(

    IFS=' '
    for dev in $TRY_DEVICES; do 
        [[ $devs =~ $dev ]] && continue
        #could be improved.
        #Still stumped as to why for mmc one *must* spec a dev,
        #while for sata it's impossible to do
        case $dev in
            "mmc") init="mmc dev \${mmcdev}; mmc rescan" ;;
            "sata") init="sata init; sata dev \${satadev}" ;;
            "usb") init="usb reset" ;;
            *) echo "I don't know how to init bootdev $dev yet..." >&2 ;;
        esac
	echo "setenv bootscr_$dev 'bus=$dev; dev=\${${dev}dev}; scr=\${bootscr}; run load_scr'"
        finit="${finit:+$finit; }$init"
        devs="$devs $dev"
    done
    echo "setenv init '$finit'"

)

cat<<FUNCTIONS
setenv load_env 'echo Loading uEnv.txt... ; load \$bus \$dev \${loadaddr} uEnv.txt; env import -t \${loadaddr} \${filesize}'
setenv load_scr 'echo Loading script \$scr...; load \$bus \$dev \${loadaddr} $scr; source \${loadaddr}'
setenv load_img 'echo Loading img \$img...; load \$bus \$dev \${loadaddr} \$img'
setenv load_dtb 'echo Loading DTB \$dtb...; load \$bus \$dev \${dtbaddr} \$dtb'

FUNCTIONS


