if [ $UENV_UPDATE_METHOD == "scr" ]; then
    currentCode=$(getuenv | sed '/^ucode=/!d;s/^ucode=//g')
    newCode=$(grep -av '${currentCode:-a}' /dev/urandom | grep -ao [0-9] -m1 | head -1)
    cat <<SCRIPTHEAD
setenv scr_uenv 'scr=env.scr; run load_scr'
setenv bootcmd 'run init; if test \${ucode} != $newCode; then run scr_env ; fi ; run bootscr_mmc; run bootscr_sata'
setenv ucode $newCode

#saveenv
#reset
SCRIPTHEAD
elif [ $UENV_UPDATE_METHOD == "senv" ]; then
    cat <<BOOTCMD
setenv bootcmd 'run init; scr=\${bootscr} ; run load_scr'
BOOTCMD

fi

